@media(max-width: 930px){
    #about .text-container .title h1{
        font-size: 32px;
    }
    #about .text-container .text p{
        font-size: 12px;
    }
    #about .buttons button{
        font-size: 18px;
    }
}
@media(max-width: 600px){
    #about .text-container .title h1{
        font-size: 22px;
    }
    #about .text-container{
        padding-top: 0;
        padding: 0;
        align-items: center;
    }
    #about .text-container .text{
        /* background: red; */
        width: 150px;
    }
    #about .text-container .text p{
        font-size: calc(2vw);
    }
    #about .buttons button{
        font-size: 14px;
    }
}
@media(max-width: 400px){
    #about .text-container .title h1{
        font-size: 18px;
    }
    /* #about .text-container .text p{
        font-size: 8px;
    } */
    #about .buttons button{
        font-size: 8px;
    }
    #about .buttons button:first-child{
        outline: 1px solid var(--main-black);
    }
}