@media(max-width: 1120px){
    .header-container nav{
        padding-right: 80px;
        /* position: absolute; */
        /* background: red; */
    }

    #about .image-container img{
        left: 60px;
        width: 300px;
    }
    #about .image-container #blob{
        left: -30px;
        width: 400px;
    }
    #about .text-container{
        width: 70%;
    }
}

@media(max-width: 1030px){
    #about{
        height: 100%;
    }
    #about .container{
        flex-direction: column;
        padding: 80px 0;
        /* margin-top: 80px; */
        /* margin-bottom: 80px; */
        justify-content: center;
        align-items: center;
        gap: 34px;
        height: 100%;
        max-height: none;
        /* padding-bottom: 200px; */
        /* margin-bottom: 1000px; */
        /* background: red; */
    }
    #about .container .social-container{
        order: 3;
        /* background: pink; */
        height: 100%;
        max-height: 56px;
        flex-direction: row;
    }
    #about .container .image-container{
        order: 1;
        display: flex;
        position: relative;
        justify-content: center;
        /* display: none; */
    }
    #about .container .image-container img{
        position: initial;
        /* left: 20%; */
        /* right: 50%; */
        /* top: 0; */
        /* bottom: 0; */
        width: 300px;
        transform: translate(40px);
    }
    #about .container .image-container #blob{
        /* display: none; */
        left: -50%;
        right: -50%;
        top: -40px;
        /* left: -80px; */
        width: 400px;
        /* width: auto; */
        margin: auto;
        padding: auto;
        /* position: static; */
    }
    #about .container .text-container{
        order: 2;
        /* margin-bottom: 56px; */
    }
}

@media(max-width: 920px){
    .header-container nav{
        padding-left: 22px;
    }
}

@media (max-width: 720px){
    .header-container nav{
        display: none;
    }
    .header-container .logo-container{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #about .container {
        overflow-x: hidden;
    }
    #skills .container .strong-skills h3{
        /* background: red; */
        font-size: 24px;
    }
    #skills .container .strong-skills .skills .skill{
        /* background: red; */
        /* display: flex; */
        align-items: center;
        /* justify-content: center; */
    } 
    #skills .container .strong-skills .skills img{
        width: 50px;
    } 
    #skills .skill p{
        font-size: 12px;
    }   
    #projects{
        display: none;
    }
}

@media(max-width:500px){
    #skills{
        height: 100%;
    }
    #skills .container .strong-skills .skills{
        /* background: red; */
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    } 
}