*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Raleway', sans-serif; */
    /* font-family: 'Roboto Condensed', sans-serif; */
    /* font-family: 'Oswald', sans-serif; */
}

:root{
    --bg-gray: #D9D9D9;
    --text-color: #1E1E1E;
    --hl-color: #ffc400;
    /* --hl-color: #06aa00; */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--bg-gray);
}

main{
    background: var(--bg-gray);
    /* background: #fff; */
    width: 100%;
    /* height: 800px; */
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    background: var(--text-color);
    width: 100%;
    height: 100%;
    max-width: 1350px;
}

#about{
    /* background: red; */
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
#about .container{
    background: var(--bg-gray);
    /* background: linear-gradient( #d9d9d9, #c9c9c9); */
    /* background: #fff; */
    /* background: green; */
    display: flex;
    /* justify-content: center; */
    max-width: 1350px;
    width: 100%;
    height: 95vh;
    /* height: 100%; */
    /* min-height: 95vh; */
    max-height: 595px;
    padding: 0px 80px;
}

#about .container .social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 100%;   
    /* width: 5vw;   */
    /* max-height: 140px; */
    /* background: gray; */
}
#about .container .social-container a{
    /* background: red; */
    z-index: 1;
}
#about .container .social-container a:hover img{
    /* background: red; */
    filter: none;
    transform: rotate(360deg);
}

#about .container .social-container img{
    pointer-events: none;
    z-index: 0;
    transition: transform 1s ease, filter .5s ease;
    width: 46px;
    height: 46px;
    filter: grayscale() brightness(0) contrast(.8);
}


#about .container .image-container{
    /* background: blue; */
    width: 50%;
    position: relative;         
}
#about .container .image-container img{
    position: absolute;
    top: 70px;
    /* left: 130px; */
    left: 20%;
    width: 400px;
    z-index: 1;
    /* transform: translate(40%); */
    filter: grayscale();
}
#about .container .image-container #blob{
    position: absolute;
    top: 70px;
    /* left: 40px; */
    left: 0;
    width: 500px;
    animation: rotating 2s linear infinite;
}
#about .container .image-container #blob path{
    fill: var(--hl-color);
}
@keyframes rotating{
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
    }
}

#about .container .text-container{
    /* background: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
}

#about .container .text-container h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(1vw + 2rem);
    /* background: red; */
    color: var(--text-color);
}
#about .container .text-container h2 strong{
    color: var(--hl-color);
    background: var(--text-color);
    border-radius: 4px;
    padding: 0 10px;
}
#about .container .buttons-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#about .container .buttons-container button{
    font-size: 24px;
    font-weight: 600;
    padding: 5px 10px;
    border: 3px solid var(--text-color);
    background: none;
    color: var(--text-color);
}
#about .container .buttons-container button:last-child{
    border: none;
    background: var(--hl-color);
    color: #fff;
}



#skills{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    height: 800px;
    /* background: var(--text-color); */
    background: linear-gradient( 45deg, #1e1e1e, #000); 
    width: 100%;
    border-top: 2px solid var(--bg-gray);
    box-shadow: 0px -4px 0 var(--text-color);
    
}
#skills .container{
    background: none;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 80px;
    /* align-items: center; */
    justify-content: center;
}
#skills .container .strong-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    /* justify-content: center; */
}
#skills .container .strong-skills h3 {
    font-size: 42px;
    color: var(--hl-color);
    padding: 6px 22px;
    position: relative;
    overflow: hidden;
}

#skills .container .strong-skills h3::before{
    content: '';
    width: 100%;
    height: 4px;
    background: var(--hl-color);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: lineAnimation 6s ease infinite;
}

#skills .container .strong-skills h3.learning::before{
    /* background: red; */
    animation: lineAnimation 6s ease infinite reverse;
}
/* @keyframes lineAnimation {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
} */
@keyframes lineAnimation {
    0% , 100%{
        left: 0;
        width: 20%;
    }
    25%{
        left: 0;
        width: 100%;
    }
    50%{
        left: 80%;
        width: 100%;
    }
}
#skills .container .strong-skills .skills{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
}
#skills .container .strong-skills .skills img{
    width: 100px;
    /* background: red; */
    /* filter: grayscale(100%); */
    transition: all 1s ease;
}

#skills .skill{
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all .7s ease;
    filter: grayscale() contrast(0) brightness(2);
}
#skills .skill p{
    color: #fff;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .3s ease, transform .3s ease;
    perspective: 10000;
}

#skills .skill.hovered{
    transform: translateY(20px);
    /* filter: grayscale(); */
    filter: none;
}
#skills .skill.hovered p{
    opacity: 1;
    transform: translateY(0px);
}



#projects{
    /* height: 2000px; */
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: #fff;
}
#projects .container{
    background: var(--bg-gray);
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 10px;
    gap: 80px;
    /* justify-content: center; */
}

#projects .project-container{
    perspective: 800px;
}
#projects .container h3{
    font-size: 42px;
    /* background: var(--hl-color); */
    color: var(--text-color);
    /* padding: 6px 22px; */
    /* border-radius: 4px; */
    /* margin-bottom: 80px; */

}
#projects .project{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    gap: 20px;
    background: var(--bg-gray);
    /* background: red; */
    border-radius: 4px;
    /* overflow: hidden; */
}

#projects .project.even {
    /* background: red; */
    flex-direction: row-reverse;
}
#projects .project.even .text-container{
    /* background: red; */
    justify-content: right;
    align-items: flex-end;
    text-align: end;
    /* flex-direction: row-reverse; */
}



#projects .project .text-container{
    /* background: red; */
    /* background: #fff; */
    display: flex;
    gap: 20px;
    /* padding: 8px; */
    flex-direction: column;
    justify-content: left;
    /* width: 30%; */
    /* height: 200px; */
    max-width: 400px;
}
#projects .project .text-container h4{
    font-size: 32px;
    /* color: red; */
}
#projects .project .text-container p{
    font-size: clamp(16px, 1vw + .5rem, 20px);
}
#projects .project .text-container h5{
    font-size: 20px;
}
#projects .project .text-container button{
    font-size: 24px;
    background: var(--hl-color);
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 600;
}
/* #projects .project.even .project-container .project-img{
    border-radius: 0px 20px 20px 0px;
} */
#projects .project .project-container .project-img{
    width: 400px;
    height: 250px;
    background-image: url(assets/projects/id1.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all .2s linear;
    /* border: 2px solid var(--hl-color); */
    /* box-shadow: none; */
    /* border-radius: 20px 0px 0px 20px; */
    
}
#projects .project .project-container .project-img:hover{
    /* perspective: 5000px; */
    border-radius: 0px;
    box-shadow: var(--shadowX) var(--shadowY) 10px #5e5e5e33;
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) scale(1.1);
}


#contact{
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--text-color);
}
#contact .container{
    /* background: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 80px 0;
}
#contact .container .form-container{
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact .container .form-container form{
    background: var(--bg-gray);
    width: 400px;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 480px;
    gap: 20px;
    box-shadow: 6px 6px 12px #1e1e1e33;
    z-index: 1;
}

.form-section{
    display: flex;
    gap: 20px;
    /* gap: 16px; */
    width: 100%;
}
#nome, #whatsapp, #email {
    width: 100%;
    height: 32px;
    outline: none;
    padding: 0px 10px;
}
.form-section .name-input,
.form-section .whatsapp-input,
.form-section .email-input{
    position: relative;
    width: 100%;
}

form h3{
    color: var(--text-color);
    font-size: 32px;
    margin-bottom: 50px;
    /* background: red; */
    width: 250px;
    text-align: center;
}

input{
    border: none;
    transition: all .3s ease;
}

label strong{
    color: var(--hl-color);
}

label{
    position: absolute;
    top: 7px;
    left: 7px;
    height: 100%;
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
    /* transform: tra; */
    pointer-events: none;
    transition: all .3s ease;
}

input.focused{
    /* background: red; */
    border: none;
    border-bottom: 2px solid var(--hl-color);
}
label.focused{
    /* background: blue; */
    transform: translateY(-24px);
    /* color: #fff; */
}
form button{
    background: var(--hl-color);
    font-size: 16px;
    font-weight: bolder;
    border: none;
    padding: 10px 20px;
}

.form-container .social-contact{
    background: var(--hl-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px;
    gap: 20px;

}

.social-contact .img-container img{
    background: var(--text-color);
    background: #fff;
    border-radius: 100%;
    border: 2px solid #fff;
    width: 130px;
}

.social-contact .email-container p{
    background: #fff;
    padding: 4px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}
.social-contact .email-container p{
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
}

.social-contact .social-icons{
    /* background: red; */
    display: flex;
    gap: 6px;
}
.social-contact .social-icons a{
    /* background: green; */
    width: 32px;
    height: 32px;
    display: flex;    
}
.social-contact .social-icons a img{
    width: 100%;
    height: 100%;
    filter: grayscale() contrast(0) brightness(.2);
}