*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

:root{
    --bg-gray: #D9D9D9;
    --text-color: #1E1E1E;
    --hl-color: #ffc400;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--bg-gray);
}

main{
    background: var(--bg-gray);
    width: 100%;
    /* height: 800px; */
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#about{
    background: var(--bg-gray);
    display: flex;
    /* justify-content: center; */
    max-width: 1350px;
    width: 100%;
    height: 95vh;
    /* min-height: 95vh; */
    max-height: 595px;
    padding: 0px 80px;
}

#about .social-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 100%;   
    /* width: 5vw;   */
    /* max-height: 140px; */
    /* background: gray; */
}
#about .social-container a{
    /* background: red; */
    z-index: 1;
}
#about .social-container a:hover img{
    /* background: red; */
    filter: none;
    transform: rotate(360deg);
}

#about .social-container img{
    pointer-events: none;
    z-index: 0;
    transition: transform 1s ease, filter .5s ease;
    width: 46px;
    height: 46px;
    filter: grayscale() brightness(0) contrast(.8);
}


#about .image-container{
    /* background: blue; */
    width: 50%;
    position: relative;         
}
#about .image-container img{
    position: absolute;
    top: 70px;
    /* left: 130px; */
    left: 20%;
    width: 400px;
    z-index: 1;
    /* transform: translate(40%); */
    filter: grayscale();
}
#about .image-container #blob{
    position: absolute;
    top: 70px;
    /* left: 40px; */
    left: 0;
    width: 500px;
    animation: rotating 2s linear infinite;
}
#about .image-container #blob path{
    fill: var(--hl-color);
}
@keyframes rotating{
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(360deg);
    }
}

#about .text-container{
    /* background: pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 20px;
}

#about .text-container h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(1vw + 2rem);
    /* background: red; */
    color: var(--text-color);
}
#about .text-container h2 strong{
    color: var(--hl-color);
    background: var(--text-color);
    border-radius: 4px;
    padding: 0 10px;
}
#about .buttons-container{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#about .buttons-container button{
    font-size: 24px;
    font-weight: 600;
    padding: 5px 10px;
    border: 3px solid var(--text-color);
    background: none;
    color: var(--text-color);
}
#about .buttons-container button:last-child{
    border: none;
    background: var(--hl-color);
    color: #fff;
}

.container{
    background: var(--text-color);
    width: 100%;
    height: 100%;
    max-width: 1350px;
}

#skills{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    height: 800px;
    background: var(--text-color);
    width: 100%;
}
#skills .container{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 80px;
    /* align-items: center; */
    justify-content: center;
}
#skills .container .strong-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    /* justify-content: center; */
}
#skills .container .strong-skills h3 {
    font-size: 42px;
    color: var(--hl-color);
    padding: 6px 22px;
    position: relative;
    overflow: hidden;
}

#skills .container .strong-skills h3::before{
    content: '';
    width: 100%;
    height: 4px;
    background: var(--hl-color);
    position: absolute;
    bottom: 0;
    left: 0;
    animation: lineAnimation 3s ease infinite;
}

#skills .container .strong-skills h3.learning::before{
    /* background: red; */
    animation: lineAnimation 3s ease infinite reverse;
}
@keyframes lineAnimation {
    0% {
        left: 0;
        width: 0;
    }
    50% {
        left: 0;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 0;
    }
}
#skills .container .strong-skills .skills{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
}
#skills .container .strong-skills .skills img{
    width: 100px;
    /* background: red; */
    /* filter: grayscale(100%); */
    transition: all 1s ease;
}

#skills .skill{
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all .7s ease;
    filter: grayscale() contrast(0) brightness(2);
}
#skills .skill p{
    color: #fff;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transform: translateY(40px);
    transition: opacity .3s ease, transform .3s ease;
    perspective: 10000;
}

#skills .skill.hovered{
    transform: translateY(20px);
    /* filter: grayscale(); */
    filter: none;
}
#skills .skill.hovered p{
    opacity: 1;
    transform: translateY(0px);
}

#projects{
    height: 2000px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}
#projects .container{
    background: var(--bg-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    gap: 20px;
    /* justify-content: center; */
}

#projects .project-container{
    perspective: 800px;
}
#projects .container h3{
    font-size: 42px;
    /* background: var(--hl-color); */
    color: var(--text-color);
    /* padding: 6px 22px; */
    /* border-radius: 4px; */
    margin-bottom: 80px;

}
#projects .project{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;
    /* background: green; */
}

#projects .project.even {
    /* background: red; */
    flex-direction: row-reverse;
}
#projects .project.even .text-container{
    /* background: red; */
    justify-content: right;
    align-items: flex-end;
    text-align: end;
    /* flex-direction: row-reverse; */
}



#projects .project .text-container{
    /* background: red; */
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: left;
    /* width: 30%; */
    max-width: 400px;
}
#projects .project .text-container h4{
    font-size: 32px;
}
#projects .project .text-container p{
    font-size: 24px;
}
#projects .project .text-container h5{
    font-size: 20px;
}
#projects .project .text-container button{
    font-size: 24px;
    background: var(--hl-color);
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: 600;
}
#projects .project .project-container .project-img{
    width: 400px;
    height: 250px;
    background-image: url(assets/projects/id1.png);
    background-size: cover;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: all .2s;
    box-shadow: 2px 2px 10px #1d1d1d55;
    
}
.project-img:hover{
    perspective: 5000px;
    transform: rotateY(var(--rotateY)) rotateX(var(--rotateX));
    box-shadow: var(--shadowX) var(--shadowY) 50px #1d1d1d22;
}